@use "../base/variables" as v;
@use "../components/mixins" as m;

footer {
    background: v.$main-gradient;
    .container {
        .title-red {
            background: none;
            box-shadow: none;
        }
        h2 {
            font-family: 'Serpentine', sans-serif;
            font-size: 2rem;
        }
        .elements {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .col {
                align-items: flex-start;
                    a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@include m.telefono {
    footer {
        padding: 3rem;
        .container {
            .title-red {
                font-size: 1.5rem;
            }
            .elements {
                flex-direction: column;
                gap: 1rem;
                .col {
                    align-items: flex-start;
                    gap: 1rem;
                }
            }
        }
    }
}