@use "../base/variables" as v;

#nosotros {
    padding: 6rem 3rem;
    .container {
        background-color: white;
        padding-left: 15rem;
        margin-left: 13rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        img {
            position: absolute;
            width: 20rem;
            top: 30%;
            left: -10%;
        }
    }
}

#mision {
    background: v.$main-gradient;
    padding: 6rem 13rem;
    .container {
        width: 100%;
        margin: 0;
        padding: 0;      
        .cards {
            .card {
                color: white;
                flex-direction: column;
                gap: 2rem;
                justify-content: flex-start;
                background: none;
                box-shadow: none;
                p {
                    color: whitesmoke;
                }
            }
        }
        // img {
        //     position: absolute;
        //     width: 14rem;
        //     top: 30%;
        //     right: -10%;
        // }
    }
}

#servicios {
    padding-bottom: 0;
    .container {
        padding-bottom: 0;
        .cards {
            width: 100%;
            .card {
                flex-direction: column;
                padding: 0;
                overflow: hidden;
                .img-container {
                    height: 12rem;
                    width: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .text-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    padding: 0.5rem;
                    background: white;
                    p {
                        font-size: v.$ft-sz-sm;
                    }
                }
            }
        }
    }
}

#permisos {
    .container {
        .content-ct {
            display: flex;
            gap: 2rem;
            .cards {
            flex-direction: column;
            width: 50%;
            }
            .img-ct {
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: 5%;
                .img-row {
                    display: flex;
                    height: 30%;
                    gap: 1rem;
                    .img {
                        display: flex;
                        justify-content: center;
                        border-radius: 1rem;
                        background: white;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        flex: 1;
                        padding: 1.5rem;
                        img {
                            height: auto;
                            width: 100%;
                            object-fit: contain;
                        }
                        &:hover {
                            transition: 0.3s ease-in-out;
                            transform: scale(1.02);
                        }
                    }
                    
                }
            }
        }
    }
}

#objetivos {
    padding-bottom: 0;
    .container {
        padding-bottom: 0;
        .cards {
            flex-direction: column;
        }
    }
}