@use "../base/variables" as v;

nav {
    position: fixed;
    display: flex;
    background: v.$main-gradient;
    justify-content: space-between;
    font-family: 'Serpentine', sans-serif;
    letter-spacing: 1.5px;
    align-items: center;
    width: 100%;
    z-index: 100;
    padding: 0.8rem 3rem;
    .logo-bg {
        position: absolute;
        height: 100%;
        min-width: 230px;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 2;
        img {
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            transform: translateX(99%);
        }
    }
    .logo {
        z-index: 3;
        img {
            height: 45px;
        }
    }
    .elementos {
        display: flex;
        gap: 2rem;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: v.$main-lg-color;
                transform: scale(1.05);
            }
        }
    }
}