@use "../base/variables" as v;
@use "../components/mixins" as m;

*, p, h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    background: whitesmoke;
    max-width: 100vw;
}

.container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5%;
    p {
        color: v.$dark;
        font-size: v.$ft-sz-md;
        line-height: 2rem;
        letter-spacing: 1px;
    }
}

section {
    display: flex;
    gap: 2rem;
    padding: 3rem;
    .container {
        position: relative;
        padding: 3rem;
        border-radius: 1.5rem;
        text-align: justify;
    }
    
}


.title-glass, .title-red, .subtitle-glass {
    width: fit-content;
    padding: 0.2rem 1rem;
    border-radius: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-red {
    background-color: rgba(v.$main-color, 0.9);
}

.subtitle-glass {
    background-color: rgba(#caa54c, 0.8);
    padding: 0.5rem 5rem;
}

.cards {
    display: flex;
    gap: 2rem;
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: white;
        text-align: center;
        padding: 1rem;
        border-radius: 1.5rem;
        font-size: v.$ft-sz-md;
        flex: 1;
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        &:hover {
            transition: 0.3s ease-in-out;
            transform: scale(1.02);
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 9;
}

.col-ct {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    .col {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}

.desktop {
    display: flex;
    @include m.telefono {
        display: none !important;
    }
}

.tel {
    display: none !important;
    @include m.telefono {
        display: flex !important;
    }
}

@include m.telefono {
    .title-glass, .title-red, .subtitle-glass {
        display: flex;
        max-width: 80vw;
        min-width: 30vw;
        font-size: v.$ft-sz-sm;
        justify-content: center;
        padding: 0.8rem 1rem;
    }

    .title-glass, .title-red{
        min-width: 60vw;
    }

    .container {
        padding: 0 !important;
    }

    .cards {
        flex-direction: column;
    }
}