$main-color: #61091a;
$sec-color: #4a4a4b;
$main-lg-color: #d38494;
$dark: #1A1A1A;

$main-gradient: linear-gradient(90deg,rgba(97, 9, 26, 1) 0%, rgb(167, 16, 16) 100%);
$sec-gradient: linear-gradient(90deg,rgba(74, 74, 75, 1) 0%, rgb(136, 136, 136) 100%);

$ft-sz-lg: 2.5rem;
$ft-sz-md: 1.3rem;
$ft-sz-sm: 1rem;
$ft-sz-xs: 0.875rem;