$main-color: #61091a;
$sec-color: #4a4a4b;
$main-lg-color: #d38494;
$dark: #333;
$img-shadow: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 100%);

$main-gradient: linear-gradient(90deg,rgba(97, 9, 26, 1) 0%, rgb(141, 33, 33) 100%);
$sec-gradient: linear-gradient(90deg,rgba(74, 74, 75, 1) 0%, rgb(136, 136, 136) 100%);

$ft-sz-lg: 2.5rem;
$ft-sz-md: 1.3rem;
$ft-sz-sm: 1rem;
$ft-sz-xs: 0.875rem;

$telefono: 450px;
$tablet: 800px;
$desktop: 1300px;